/* Main Stylesheet file for Fish Atlas Project*/
/* Author: Artur Mangus 2022 */

@import "Fonts.css";

@media screen and  (min-width: 641px) {

    .contentBox.contentView{
        position: relative;
        display: flex;
        width: 100%;
    }

    .contentBox.preview{
        position: relative;
        display: flex;
        width: 100%;
    }

    .contentBox.list{
        display: initial;
    }

    .linkButton {
        background-color: #ffffff00;
        display: flex;
        width: 220px;
        max-width: 180px;
        min-height: 80px;
        margin: 4px 10px 4px 4px;
        padding: 2px;
    }

    .linkButton.contentView {
        display: flex;
        max-width: 200px;
        height: 100px;
        margin: 4px 10px 4px 4px;
        padding: 2px;
        padding-right: 8px;
    }

    .linkButton:hover{
        border-radius: 5px;
        background-color: #F2F2F2;
        cursor: pointer;
    }

    .linkButton:hover .point{
        background-position: left 0px top -38px;
    }

    .linkButton:hover .name{
        color: #346e63ff;
    }

    .linkButton .labelBox {
        display: initial;
    }

    .linkButton .name {
        font-weight: normal;
        font-size: 18px;
        color: #85cfc2ff;
        width: 170px;
        height: 110px;
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

    .linkButton .descript {
        font-size: 11px;
        color: gray;
    }

    .imageOverview{
        position: absolute;
        object-fit: cover;
        object-position: left center;
        width: 185px;
        height: 104px;
        opacity: 0;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        margin-top: -2px;
        margin-left: 23px;
    }

    .linkButton:hover .imageOverview{
        opacity: 1;
    }
}


@media handheld and (min-width: 240px) {

}

@media print{

}

@media projection {

}

@media tv {

}