/* Main Stylesheet file for Fish Atlas Project*/
/* Author: Artur Mangus 2022 */

@import "Fonts.css";

@media screen and  (min-width: 641px) {

    .listButton {
        display: flex;
        height: 95px;
        width: 95%;
        margin: 4px 10px 4px 4px;
        padding: 2px;
        cursor: pointer;
    }

    .listButton:hover{
        background-color: #f1f1f1;
        border-radius: 8px;
    }

    .listLabel{
        display: flex;
    }

    .name.list{
        color: #85cfc2ff;
        font-weight: normal;
        position: relative;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        width: 180px;
    }

    .listButton .listLabel{
        margin-top: 3px;
    }

    .listButton:hover .point{
        background-position: left 0px top -38px;
        /*background-position: left 0px top -57px;*/
    }

    .listButton:hover .name.list{
        color: #346e63ff;
        font-weight: normal;
    }

    .imageList{
        object-fit: cover;
        object-position: left center;
        border-color: #85cfc2ff;
        border-style: solid;
        border-radius: 6px;
        border-width: 3px;
        width: 80px;
        height: 80px;
        margin: 4px;
    }

    .listText{
        position: relative;
        font-weight: lighter;
        font-size: 14px;
        color: dimgray;
        padding-left: 7px;
        width: 440px;
        height: 86px;

        text-overflow: ellipsis;
        padding-top: 4px;

        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}


@media handheld and (min-width: 240px) {

}

@media print{

}

@media projection {

}

@media tv {

}