/* Main Stylesheet file for Fish Atlas Project*/
/* Author: Artur Mangus 2022 */

@import "Fonts.css";

@media screen and  (min-width: 641px) {

    .previewButton{
        display: initial;
        border-radius: 8px;
        min-height: 320px;
        width: 224px;
        margin: 3px;
        cursor: pointer;
    }
    .previewButton:hover {
        background-color: #F2F2F2;
    }

    .previewButton:hover .imageView{
        border-color: #cccccc;
    }

    .label {
        display: flex;
        margin-left: 4px;
    }

    .imageView{
        object-fit: cover;
        object-position: left center;
        border-color: #85cfc2ff;
        border-style: solid;
        border-radius: 6px;
        border-width: 3px;
        width: 210px;
        height: 210px;
        margin: 4px;
    }

    .previewButton .name{
        color: #85cfc2ff;
        width: 190px;
        font-weight: normal;
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;

    }

    .previewButton:hover .point {
        background-position: left 0px top -38px;
    }

    .previewButton:hover .name {
        color: #346e63ff;
    }
}